{% load static %}
<nav class="navbar navbar-expand-sm bg-white navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" style="width:40px;" class="rounded-pill">
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a style="color: rgb(0, 126, 255);" class="navbar-brand" href="{% url 'homepage' %}">Ludwig Rössler</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a style="color: rgb(0, 126, 255);" class="navbar-brand" href="{% url 'landingpage' %}">Ludwig Rössler</a>
      </li>
      {% endif %}
    </ul>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex" >
          {% if 'http://127.0.0.1:8000/' == request.build_absolute_uri %}
          <ul class="navbar-nav">
            <li class="nav-item" style="margin-top: 6px;" >
              <a style="color: rgb(0, 126, 255); margin-right: 20px;" href="#section1">Section 1</a>
            </li>
            <li class="nav-item" style="margin-top: 6px;" >
              <a style="color: rgb(0, 126, 255); margin-right: 20px;" href="#section2">Section 2</a>
            </li>
            <li class="nav-item" style="margin-top: 6px;" >
              <a style="color: rgb(0, 126, 255); margin-right: 40px;" href="#section3">Section 3</a>
            </li>
          </ul>
          {% else %}
          {% endif %}
        {% if request.user.is_authenticated %}
          <a href="{% url 'logout' %}"> 
            <button  style="margin-right: 10px;" class="btn btn-outline-primary" type="button">Abmelden</button>
          </a>
        {% else %}
          <a href="{% url 'login' %}"> 
            <button  style="margin-right: 10px;" class="btn btn-outline-primary" type="button">Anmelden</button>
          </a>
          <a href="{% url 'register' %}"> 
            <button style="margin-right: 5px" class="btn btn-outline-dark" type="button">Registrieren</button>
          </a>
        {% endif %}  
      </form>
    </div>
  </div>
  </nav>