
<style>
    @media (max-width: 767px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }
    
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* medium and up screens */
    @media (min-width: 768px) {
        
        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(25%);
        }
        
        .carousel-inner .carousel-item-start.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-25%);
        }
    }
    
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
      transform: translateX(0);
    }
    
</style>
{% load static %}
<div class="text-center my-5">
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="col-md-3" style="margin: 2px;">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'images/image-not-found.png' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 1</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3" style="margin: 2px;">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'images/image-not-found.png' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 2</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3" style="margin: 2px;">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'images/image-not-found.png' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 3</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3" style="margin: 2px;">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'images/image-not-found.png' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 4</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3" style="margin: 2px;">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'images/image-not-found.png' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 5</div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-md-3" style="margin: 2px;">
                        <div class="card">
                            <div class="card-img">
                                <img src="{% static 'images/image-not-found.png' %}" class="img-fluid">
                            </div>
                            <div class="card-img-overlay">Slide 6</div>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>

</div>


<script>
    let items = document.querySelectorAll('.carousel .carousel-item')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i=1; i<minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })
</script>