{% extends 'main.html' %}


{% block content %}
  <div id="section1" class="container-fluid" style="padding:100px 20px;">
    <div class=" text-center">
      <p class="h1">Herzlich Willkommen!</p>
      <p class="h3">Hier bekommen Sie einen ersten Eindruck...</p>
    </div>
    {% include "slideBarHomepageOne.html" %}
  </div>

  <div id="section2" class="container-fluid" style="padding:100px 20px;">


  </div>


  <div id="section3" class="container-fluid" style="padding:100px 20px;">
   
  </div>


{% endblock content %}